{% extends 'base.html' %}

{% block content %}

<div style="text-align: center;">
    
<h3>Current Menu Pricing Options</h3>
<a href="{% url 'venues:food-option' %}">Set Menu Pricing</a><br>


{% for foodoption in request.user.venue.foodoption_set.all %}
    <h2>{{foodoption.name_of_food}}</h2>
    <h4>{{foodoption.description_of_food}}</h4>
    {% for pricing in foodoption.pricing.all %}
       <p> Number of Guests &nbsp;{{pricing.amount_of_people}} &nbsp;&nbsp;Cost &nbsp; {{pricing.cost}} </p>
    {% endfor %}
{% endfor %}

</div>

<br>
<br>
<div style="text-align: center;">
<a href="{% url 'venues:food-and-drink' %}">Go Back</a>
</div>
{% endblock %}