{% extends 'base.html' %}

{% block content %}
<div style="text-align: center;">
    {% for drinkoption in request.user.venue.drinkoption_set.all %}
    
        <h2>Prices for {{drinkoption.get_drink_options_display}}</h2>
        {% for pricing in drinkoption.pricing.all %}
        Number of Guests: {{pricing.amount_of_people}}  Cost: {{pricing.cost}}
        <br>
        {% endfor %}
        <br>
    {% endfor %}


        <br>
        <a href="{% url 'venues:drink-options' %}">Set / Edit Venue Drink Pricing</a><br>
</div>

<br>

<div style="text-align: center;">
<a href="{% url 'venues:food-and-drink' %}">Go Back</a>
</div>

{% endblock %}