{% extends 'base.html' %}

{% block content %}

<div style="text-align: center;">
    <h1>Food and Drink Options</h1>

    <h3>Drink Options</h3>
    <a href="{% url 'venues:drink-options' %}">Set Venue Drink Pricing</a><br>
    <a href="{% url 'venues:current-drink-pricing' %}">See Current Drink Pricing</a><br>
    <br>

    <h3>Dietary Options Offered</h3>
    <a href="{% url 'venues:dietary-option' %}">Select Dietary Options Offered</a><br>
    <br>


    <h3>Menu Options</h3>
    <a href="{% url 'venues:food-option' %}">Set Venue Meal Pricing</a><br>
    <a href="{% url 'venues:current-menu-pricing' %}">See Current Meal Pricing</a><br>

</div>


{% endblock %}