{% extends 'base.html' %}

{% block content %}

<h3>Staffing Options</h3>

<form method=POST>
    {% csrf_token %}


    {{ formset.management_form }}
    <div id="form_set">
      {% for form in formset.forms %}
          <table class='no_error'>
              {{ form }}
          </table>
      {% endfor %}
    </div>
    <input type="button" value="Add More" id="add_more">
    <div id="empty_form" style="display:none">
      <table class='no_error mt-4'>
          {{formset.empty_form }}
      </table>
    </div>
    <br><br>
    <button type="submit">Submit</button>

    <script type="text/javascript">
        $('#add_more').click(function() {
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
    </script>

</form>

<br>
<a href="{% url 'venues:venues_home' %}">Go Back</a>
{% endblock %}