{% extends 'base.html' %}

{% block content %}
Hello {{User.first_name}},<br>
Below you can set the details for {{Venue.hall_name}}<br>

<a href="{% url 'venues:general-information' %}">General Information</a><br>
<a href="{% url 'venues:prewedding-prep' %}">Pre-Wedding Preparation</a><br>
<a href="{% url 'venues:food-and-drink' %}">Food and Drink Options</a><br>
<a href="{% url 'venues:wedding-cake' %}">Wedding Cake Options</a><br>
<a href="{% url 'venues:ceremony-and-reception' %}">Ceremony and Reception</a><br>
<a href="{% url 'venues:decorations' %}">Decorations and Floral Arrangements</a><br>
<a href="{% url 'venues:staffing' %}">Staffing Options</a><br>
<a href="{% url 'venues:photography' %}">Photography and Videography Options</a><br>
<a href="{% url 'venues:accommodations-and-parking' %}">Accommodations and Parking</a><br>
<a href="{% url 'venues:additional-information' %}">Additional Information</a><br>
<a href="{% url 'venues:payment-options' %}">Payment Options and Details</a><br>
<a href="{% url 'venues:venue-images' %}">Venue Pictures</a><br>
<a href="{% url 'venues:contact-info' %}">Contact Information</a><br>

{% endblock %}