{% extends 'base.html' %}

{% block content %}
Hello {{User.first_name}},<br>
Below you can set the details for {{Venue.hall_name}}<br>

<a href="{% url 'venues:general-information' %}">General Information</a><br>
<a href="{% url 'venues:prewedding-prep' %}">Pre-Wedding Preparation</a><br>
<a href="{% url 'venues:food_and_drink' %}">Food and Drink Options</a><br>
<a href="#">Ceremony and Reception</a><br>
<a href="#">Staffing Options</a><br>
<a href="#">Accomodations and Parking</a><br>
<a href="#">Venue Limitations</a><br>
<a href="#">Additional Information</a><br>
<a href="#">Payment Options and Details</a><br>
<a href="#">Venue Pictures</a><br>
<a href="#">Wedding Day Contact Person</a><br>
<a href="#">General Contact Information</a><br>

{% endblock %}