<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="https://i.pinimg.com/originals/92/85/c4/9285c4e6719a6e361a5d1e474b56dfb5.jpg" class="navbar-brand" href="#" style="width:30px">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'customers:home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Search <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <li class="nav-item active">
            <a class="nav-link" href="#">Messages <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'contact-us' %}">Contact Us <span class="sr-only">(current)</span></a>
          </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'logout' %}">Logout <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form method='POST' action='{% url "customers:search" %}' class="form-inline my-2 my-lg-0">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" name="customer_search_bar" placeholder="Search by Venue or Zipcode" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>