{% extends 'base.html' %}

{% block content %}

{% include 'main_jumbo.html' %}

<h1 style="text-align: center;">HOW IT WORKS</h1>

<div class="main_content">
    <div class="content_box";">
        Search through thousands of venues for the perfect place by location, price, style, capacity and more.
    </div>
    <div class="content_box">
        Search for available dates and customize your ideal wedding based on what you want, your budget, and your guest count.
    </div>

</div>


{% endblock %}