<div class="jumbotron" style="height: 500px;">
    <div style="padding-top: 100px;">
        <h1 class="display-4" style="text-align: center;">Find The Perfect Venue For Your Perfect Day</h1>
        <p class="lead" style="text-align: center;">Browse and Price Out Thousands of Venues.</p>
    
        <form class="form-inline my-2 my-lg-0" style="justify-content: center;">
            <input class="form-control mr-sm-2" type="search" style="width: 450px!important; text-align: center;" placeholder="Search by Venue or Location" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Find a Venue</button>
        </form>
    </div>
  </div>

