<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="https://i.pinimg.com/originals/92/85/c4/9285c4e6719a6e361a5d1e474b56dfb5.jpg" class="navbar-brand" href="#" style="width:30px">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'venues:venues_home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">View Your Page <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:black">
            Edit Venue Details
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="{% url 'venues:general-information' %}">General Information</a><br>
            <a href="{% url 'venues:prewedding-prep' %}">Pre-Wedding Preparation</a><br>
            <a href="{% url 'venues:food_and_drink' %}">Food and Drink Options</a><br>
            <a href="{% url 'venues:ceremony_and_reception' %}">Ceremony and Reception</a><br>
            <a href="{% url 'venues:decorations' %}">Decorations and Floral Arrangements</a><br>
            <a href="{% url 'venues:staffing' %}">Staffing Options</a><br>
            <a href="{% url 'venues:accommodations_and_parking' %}">Accommodations and Parking</a><br>
            <a href="{% url 'venues:additional-information' %}">Additional Information</a><br>
            <a href="{% url 'venues:payment-options' %}">Payment Options and Details</a><br>
            <a href="{% url 'venues:venue-images' %}">Venue Pictures</a><br>
            <a href="{% url 'venues:contact-info' %}">Contact Information</a><br>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Messages <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Contact Us <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'logout' %}">Log Out <span class="sr-only">(current)</span></a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>