{% extends 'base.html' %}

{% block content %}

<div class="jumbotron"'>
    <h1 class="display-4" style="text-align: center;">The Perfect Wedding Starts With The Perfect Venue!</h1>
    <p class="lead" style="text-align: center;">Start your search below.</p>
    <hr class="my-4">
    
    <form method="GET">
      {% csrf_token %}
      <div class='row'>
        {% for field in filter.form %}
          <div class='col-2.5' style='padding: 5px'>
            {{field.label_tag}}
            {{field}}
          </div>
        {% endfor %}
      </div>
  {% for obj in filter.qs %}
      {{ obj.hall_name }} - ${{ obj.price }}<br />
  {% endfor %}
  <p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Advanced Search
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>

    <p class="lead">
      <button type='submit' class="btn btn-primary btn-lg" role="button" style="margin-left: 48%;">Search</button>
    </p>
  </form>
  </div>

{% endblock %}