{% extends 'base.html' %}

{% block content %}

<h1 style="text-align: center;">{{venue.hall_name}}</h1>

<div style="text-align: center;">

<h3>Tastings</h3>
Tastings Offered:&nbsp; {{venue.tasting.tastings_offered |yesno:'Yes,No'}}<br>
Cost for Tasting: &nbsp;{{venue.tasting.tasting_price}}<br>

<br>
<h3>Rehearsals</h3>
Rehearsal Dinner Option: &nbsp;{{venue.rehearsal.rehearsal_dinners |yesno:'Yes,No'}}<br>
Rehearsal Dinner Cost: &nbsp;{{venue.rehearsal.rehearsal_dinner_cost}}<br>
Rehearsal Ceremony Option: &nbsp;{{venue.rehearsal.rehearsal_ceremonies |yesno:'Yes,No'}}<br>
Rehearsal Ceremony Cost:&nbsp; {{venue.rehearsal.rehearsal_ceremony_cost}}<br>

<br>
<h3>Wedding Day Arrival and Set Up</h3>
Prewedding Arrival: &nbsp;{{venue.arrivalsetup.hours_preevent_arrival}} Hours Prior to Wedding<br>
Prewedding Set Up: &nbsp;{{venue.arrivalsetup.hours_preevent_setup}} Hours Prior to Wedding<br>


<br>
<a href="{% url 'customers:show-venue' venue.slug %}">Go Back</a><br>

</div>
{% endblock %}
