{% extends 'base.html' %}

{% block content %}

<h1 style="text-align: center;">{{venue.hall_name}}</h1>

<div style="text-align: center;">
    {% for staffing in venue.staff_set.all %}
    
        Staff for {{staffing.number_of_guests}} Guests<br>
        Number of Waiters: &nbsp;{{staffing.number_of_waiters}}<br>
        Number of Bartenders: &nbsp;{{staffing.number_of_bartenders}}<br>
        Number of Other Staff:&nbsp; {{staffing.number_of_other_staff}}<br>


        <br>
    {% endfor %}



<br>
<a href="{% url 'customers:show-venue' venue.slug %}">Go Back</a><br>

</div>
{% endblock %}