{% extends 'base.html' %}

{% block content %}

<h1 style="text-align: center;">{{venue.hall_name}}</h1>

<div style="text-align: center;">

    Venue Provides Wedding Cake:&nbsp; {{venue.additionalinformation.provide_wedding_cake}}<br>


    {% for cake in venue.cakes.all %}
    
        <h2>Cake Layers {{cake.get_cake_option_display}}</h2>
        {% for pricing in cake.pricing.all %}
        Number of Guests: {{pricing.amount_of_people}}  Cost: {{pricing.cost}}
        <br>
        {% endfor %}
        <br>
    {% endfor %}


<br>
<a href="{% url 'customers:show-venue' venue.slug %}">Go Back</a><br>

</div>
{% endblock %}