{% extends 'base.html' %}

{% block content %}

<h1 style="text-align: center;">{{venue.hall_name}}</h1>

<div style="text-align: center;">
<h3>Indoor Options</h3>
Indoor Reception Available: {{venue.indooroptions.indoor_reception.boolean |yesno}}<br>
Indoor Ceremony Available: {{venue.indooroptions.indoor_ceremony.boolean |yesno}}<br>
Indoor Dancing Availabe: {{venue.indooroptions.indoor_dancing.boolean |yesno}}<br>

<br>
<h3>Outdoor Options</h3>
Outdoor Reception Available: {{venue.outdooroptions.outdoor_reception.boolean |yesno}}<br>
Outdoor Ceremony Available: {{venue.outdooroptions.outdoor_ceremony.boolean |yesno}}<br>
Outdoor Dancing Available: {{venue.outdooroptions.outdoor_dancing.boolean |yesno}}<br>

<br>
<h3>Outdoor Rain Backup</h3>
Tents or Canapies Available: {{venue.rainbackup.tents_or_canopies.boolean |yesno}}<br>
Electric Generator Available: {{venue.rainbackup.electric_generator.boolean |yesno}}<br>

<br>
<a href="{% url 'customers:show-venue' venue.slug %}">Go Back</a><br>

</div>

{% endblock %}